DATABASE_URL=file:./dev.db

PAYLOAD_SECRET=odlabs-plugin-template-secret
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PREVIEW_SECRET=odlabs-preview-secret

PLUGIN_BRAND_NAME=OD LABS
PLUGIN_PACKAGE_NAME=
PLUGIN_REPOSITORY_URL=
PLUGIN_PUBLISHED_AT=

ENABLE_SAMPLE_POST_SEED=false
ENABLE_SAMPLE_POST_SEED_UI=false
